/download/cache/
/download/progress_list.txt

/linux-i686/
/linux-x86_64/
/win32/

/scripts/params.txt
/scripts/progress_list.txt

/sources/brotli/out/
/sources/libjpeg-turbo/build/
/sources/libjpeg-turbo/jconfig.h
/sources/libjpeg-turbo/jconfigint.h
/sources/libjpeg-turbo/jversion.h

/sources/ffmpeg/doc/config.texi
/sources/ffmpeg/libavdevice/indev_list.c
/sources/ffmpeg/libavdevice/outdev_list.c
/sources/ffmpeg/libavfilter/filter_list.c

/sources/SDL_image/SDL2_image.spec
/sources/SDL_image/showanim
/sources/SDL_ttf/SDL2_ttf.spec

/sources/zlib-ng/test.c
/sources/zlib-ng/zlib_name_mangling.h
/sources/zlib-ng/test/Makefile
/sources/zlib-ng/**/Makefile.tmp
/sources/zlib-ng/zlib.h
/sources/zlib-ng/gzread.c
/sources/zlib-ng/makecrct
/sources/zlib-ng/maketrees

conf.sh
conf_err.txt
conf_out.txt
make.sh
make_err.txt
make_out.txt

help.txt

configure~

